{#
/**
 * @file event_session.html.twig
 * Default theme implementation to present Event session data.
 *
 * This template is used when viewing Event session pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_session()
 *
 * @ingroup themeable
 */
#}
<div class="paragraph-session">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
