<div class="modal fade" tabindex="-1" role="dialog" id="form-element--modal" aria-labelledby="form-element--modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">VSCPA Privacy Policy, Terms &amp; Conditions</h4>
      </div>
      <div class="modal-body">
        <div id="edit-field-term-conditions-value--description">
          <strong id="Introduction">Introduction</strong>

          <p>The Virginia Society of Certified Public Accountants (“VSCPA”) respects the personal information of its
            membership and visitors of the <a href="http://www.vscpa.com">www.VSCPA.com</a> website (“Website”). The
            VSCPA makes every effort to protect such information and use it responsibly and appropriately. This privacy
            policy explains how the VSCPA collects and processes your Personal Data. Each time you use our Website, the
            current version of this policy will apply.</p>

          <p>“Personal Data” is any information that enables us to identify you, directly or indirectly, by reference to
            an identifier such as your name, identification number, location data, online identifier or one or more
            factors specific to your physical, physiological, genetic, mental, economic, cultural or social
            identity.</p>

          <strong>Consent</strong>

          <p>By visiting our Website or related properties, you hereby consent to our privacy policy and agree to the
            following terms and conditions.</p>

          <strong>Contact Us</strong>

          <p>Visit the <a data-entity-substitution="canonical" data-entity-type="node"
                          data-entity-uuid="43209169-2ca6-44a9-9f65-68bbfb16bee0" href="/node/66805">Contact Us</a>
            section of our Website if you have any questions or concerns about this policy. Alternatively, you can
            contact us by phone at (800) 733-8272, by email to <a href="mailto:vscpa@vscpa.com">vscpa@vscpa.com</a> or
            by mail to 4309 Cox Road, Glen Allen, VA 23060.</p>

          <p>For the purposes of the General Data Protection Regulation 2016/679 (“GDPR”), the Data Controller is the
            Virginia Society of Certified Public Accountants registered in the Commonwealth of Virginia USA with a
            registered address at 4309 Cox Road, Glen Allen, VA 23060. VSCPA Technology Director Jennifer Syer is staff
            responsible for overseeing questions related to GDPR.</p>

          <strong id="Collection">Collection of Personal Data</strong>

          <p>Our Website has many sections that are open to all users, with no account credentials required. All
            information from general visitors to the Website is anonymous and does not contain any Personal Data. The
            web server tracks domain names for security purposes and information regarding the nature and extent of the
            website's usage. This information is used to analyze trends for business purposes such as providing customer
            service, fraud prevention, market research and improving our Website. Please check your Web browser if you
            want to learn what information your browser sends or how to change your settings.</p>

          <p>The VSCPA may collect Personal Data when it is voluntarily submitted by the user to process certain
            requests (such as registration for programs, membership dues, updates and other services). The VSCPA
            collects only the appropriate information needed to process the request voluntarily from the user. Some of
            the information voluntarily collected may include your name, email address, phone number, fax number, postal
            address, membership number, certification information and financial/credit card information. At no point
            does the VSCPA collect any of this information in an involuntary manner. All Personal Data obtained from
            users is treated with great care to protect your privacy and security. The information volunteered is kept
            confidential by the VSCPA and is not shared with unrelated outside parties.</p>

          <p>From time to time, we may use your Personal Data to provide you with updates and other information. We also
            collect the email addresses of people who communicate with us via email. We do not rent, sell or lease email
            addresses to any third party without your consent.</p>

          <p>You may opt out of VSCPA communications at any time.</p>

          <strong id="ThirdParty">Third-Party Disclosures</strong>

          <p>We partner with third parties and other affiliates to provide specific services or programs as approved by
            the VSCPA Board of Directors or President &amp; CEO. When someone signs up for these services and/or becomes
            a VSCPA member or customer, we will share names and only Personal Data that is necessary for the third party
            to provide these services. These parties are not allowed to use your personal information except for the
            purpose of providing these services to the VSCPA and its members or customers, and they are required to
            maintain the confidentiality of your information. In addition, Personal Data is shared with third parties
            such as banks and credit-card processers to the extent necessary for the VSCPA to deliver payment processing
            services.</p>

          <p>To facilitate networking, the VSCPA makes contact information and other types of limited Personal Data
            available to <em>members and customers only</em> on password-secured areas of our Website and affiliated
            Websites. These areas include our Connect community, volunteer directories, the Find a CPA directory and
            others. Members and customers can <a href="http://connect.vscpa.com/profile/profilebase">opt out</a> of the
            directories at any time.</p>

          <p>The VSCPA may disclose confidential Personal Data if made in response to a valid order of a court or
            authorized agency of government, and will work to establish a legal means to limit such disclosure and only
            disclose that segment of confidential information that legal counsel advises must be disclosed.</p>

          <strong id="Advertisements">Advertisements</strong>

          <p><i>Links to Other Websites:</i> Any link (including a hyperlink, button or referral device of any kind)
            used on the VSCPA Website is provided for your use and convenience. The appearance of a link on the Website
            does not constitute an endorsement, recommendation or certification by us. We do not endorse the content on
            any third-party websites. We are not responsible for the content of linked third-party websites or
            third-party advertisements, and do not make any representations regarding their content or accuracy. We do
            not knowingly link to websites that may infringe on valid and existing trademarks, service marks, copyrights
            or patents. Your use of third-party websites is at your own risk and subject to the terms and conditions of
            use for such websites. We do not endorse any product that may be advertised on our Website.</p>

          <p><i>Links to VSCPA Website:</i> Links to our Website must be by prior written approval of the VSCPA. No
            other links into the Website are permitted. To obtain written permission, email us at <a
              href="mailto:vscpa@vscpa.com">vscpa@vscpa.com</a> and reference the material you wish to use.</p>

          <p>Unless they have prior written permission from us to do so, third parties (i) are not permitted to
            advertise in any way that suggests that we have any relationship or affiliation with a third-party website
            or that we endorse, sponsor or recommend the information, products or services on such website; (ii) cannot
            use any of our names, logos, designs, slogans, product trademarks or service marks in any advertising,
            publicity, promotion or in any other commercial matter; and (iii) cannot use any of our names, logos,
            designs, slogans, product trademarks or service marks, or any other words or codes identifying the VSCPA
            Website, in any "metatag" or other information used by search engines or other information location tools to
            identify and select websites.</p>

          <strong id="Cookies">Cookies</strong>

          <p>Cookies are small pieces of data sent to your web browser by websites you visit. A cookie file is stored in
            your web browser or hard drive and allows the VSCPA or a third party to recognize you and make your future
            visits easier and our services more useful to you. Cookies cannot be used to run programs or deliver viruses
            to your computer. Cookies are uniquely assigned to you and can only be read by a web server in the domain
            that issued the cookie to you. The VSCPA is committed to protecting your confidentiality and does not store
            any Personal Data or financial information in any of the cookies on our Website or affiliated websites.</p>

          <p>We use cookies to monitor VSCPA Website usage and performance, and to personalize the content of various
            areas within the Website. By using the VSCPA Website, you consent to the use of cookies.</p>

          <p>If you would like to delete cookies or disable cookies through your individual web browser, please refer to
            your web browser’s help pages. Please note, however, that if you delete or disable cookies, you might not be
            able to use all of the features on the VSCPA Website, you may not be able to store your preferences, and
            some of our pages might not display properly.</p>

          <strong id="" name="Security">Security</strong>

          <p>The VSCPA treats all personally identifiable information collected on the Website as securely as possible.
            We use Secure Socket Layer (SSL) encryption on all forms that require submission through electronic data
            transfer. Our staff is trained to treat member and customer information with the utmost confidentiality.
            Should you feel there has been a breach in the security of this Website, please contact us immediately at
            (800) 733-8272.</p>

          <strong id="PersonalInformation">Personal Information Protection</strong>

          <p>As a user of the VSCPA Website, you are solely responsible to make sure your personal information is up to
            date and correct. The VSCPA is not responsible for any incorrect information entered by a user</p>

          <ul>
            <li>You can request access, correction, updates or deletion of your personal information.</li>
            <li>You can object to processing of your personal information, ask us to restrict processing of your
              personal information, or request portability of your personal information.
            </li>
            <li>If we have collected and processed your personal information with your consent, then you can withdraw
              your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we
              conducted prior to your withdrawal, nor will it affect processing of your personal information conducted
              in reliance on lawful processing grounds other than consent.
            </li>
            <li>You have the right to complain to a data protection authority about our collection and use of your
              personal information. Contact details for data protection authorities in the EEA, Switzerland, and certain
              non-European countries (including the U.S. and Canada) are available <a
                href="http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm">here</a>.)
            </li>
            <li>FOR RESIDENTS OF CALIFORNIA ONLY: Section 1798.83 of the California Civil Code requires select
              businesses to disclose policies relating to the sharing of certain categories of your Personal Data with
              third parties. If you reside in California and have provided your Personal Data to the VSCPA, you may
              request information about our disclosures of certain categories of Personal Data to third parties for
              direct marketing purposes.
            </li>
          </ul>
          <p>To exercise any of these rights, please contact us at <a href="mailto:vscpa@vscpa.com">vscpa@vscpa.com</a>
            or 4309 Cox Road, Glen Allen, VA 23060, Attention: Privacy. We will respond to your request to change,
            correct or delete your information within a reasonable timeframe, and will notify you of the action we have
            taken.</p>

          <p>By agreeing to these terms and conditions, you also agree that we can send you occasional email about VSCPA
            membership, updates, programs, products and events. You can manage the amount and type of email you receive
            from us in the My Account portion of VSCPA.com.</p>

          <strong id="OptingOut">Opting Out of Our Communication</strong>

          <p>You may unsubscribe from our communications by clicking the “unsubscribe” link on the bottom of our emails,
            updating your communication preferences, contacting us at <a
              href="mailto:vscpa@vscpa.com">vscpa@vscpa.com</a>, (800) 733-8282 or 4309 Cox Road, Glen Allen, VA 23060.
            If you do not want your information to be accessible to other members via our Connect community or online
            directories, please <a href="http://connect.vscpa.com/communities/viewdiscussions/mysubscriptions/">click
              here</a> and follow the on-screen instructions. Customers and members cannot opt out of receiving
            automated confirmation or transactional emails related their account with us.</p>

          <strong id="Copyrights">Copyrights</strong>

          <p>The VSCPA maintains this Website for your information, education and communication. You may download
            material displayed on the Website for non-commercial, personal use, provided you also retain all copyright
            and other proprietary notices contained on the materials. You may not, however, distribute, modify,
            transmit, reuse, repost or use the content of the Website for public or commercial purposes, including the
            text and images, without the VSCPA's written permission.</p>

          <strong id="ServiceMarks">Service Marks</strong>

          <p>The VSCPA, its Website images and text, all page headers, custom graphics and button icons are service
            marks, trademarks and/or trade dress of the VSCPA and may not be used by others without prior written
            permission of the VSCPA. All use thereof inures to the benefit of the VSCPA. All other trademarks, product
            names and company names or logos cited in this Website are the property of their respective owners.</p>

          <strong id="Terms">Terms &amp; Conditions</strong>

          <p>You should assume that everything you see or read on the VSCPA Website is copyrighted unless otherwise
            noted and may not be used except as provided in these Terms and Conditions or in the text on the Website
            without the written permission of the VSCPA. The VSCPA neither warrants nor represents that your use of
            materials displayed on the Website will not infringe rights of third parties not owned by or affiliated with
            the VSCPA.</p>

          <p>While the VSCPA uses reasonable efforts to include accurate and up-to-date information on the Website, the
            VSCPA makes no warranties or representations as to its accuracy. The VSCPA assumes no liability or
            responsibility for any errors or omissions in the content of the Website.</p>

          <p>Your use of and browsing in the Website are at your risk. Neither the VSCPA nor any party involved in
            creating, producing or delivering the website is liable for any direct, incidental, consequential, indirect
            or punitive damages arising out of your access to, or use of, the Website. Without limiting the foregoing,
            everything on the Website is provided to you "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE, OR NON-INFRINGEMENT. Please note that some jurisdictions may not allow the exclusion of implied
            warranties, so some of the above exclusions may not apply to you. Check your local laws for any restrictions
            or limitations regarding the exclusion of implied warranties. The VSCPA also assumes no responsibility, and
            shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other
            property on account of your access to, use of or browsing in the Website or your downloading of any
            materials, data text, images, video or audio from the Website.</p>

          <p>The trademarks, logos and service marks (collectively the "Trademarks") displayed on the Website are
            registered and unregistered Trademarks of the VSCPA and others. Nothing contained on the Website should be
            construed as granting, by implication, estoppel or otherwise, any license or right to use any Trademark
            displayed on the Website without the written permission of the VSCPA or such third party that may own the
            Trademarks displayed on the Website. Your misuse of the Trademarks displayed on the Website, or any other
            content on the Website, except as provided in these Terms and Conditions, is strictly prohibited.</p>

          <p>The VSCPA has not reviewed all of the websites linked to our Website and is not responsible for the content
            of any off-website pages or any other website linked to the Website. Users who open third-party links do so
            at their own risk and should be aware of the privacy policies of those sites, as the VSCPA cannot control
            the use of user information shared directly with third parties.</p>

          <p>By registering for and attending any VSCPA event, you agree to the following terms and conditions:</p>

          <ul>
            <li>The VSCPA may photograph, audiotape or videotape participants and speakers/panelists at any VSCPA
              event.
            </li>
            <li>Pictures, audio recordings or video recordings of VSCPA events may be used in future promotions for the
              VSCPA and/or its events, including in online and printed materials.
            </li>
            <li>Any pictures, audio and video recordings become the sole and exclusive property of the VSCPA.</li>
            <li>Submitting photos, videos or audio recordings for use by the VSCPA in print or online constitutes
              approval for the VSCPA to use the submissions.
            </li>
          </ul>
          <strong id="SocialMedia">Social Media Policy</strong>

          <p><em>Etiquette: </em>VSCPA social media channels are intended for the presentation of editorial commentary
            on issues pertaining to the CPA profession and also to facilitate dialogue among readers through the open
            comment feature. All participants must adhere to the following:</p>

          <ul>
            <li>Do not provoke or attack others. Discussions are meant to stimulate conversation, not to create
              contention.
            </li>
            <li>Do not post commercial messages. These channels are not to be used for marketing purposes.</li>
            <li>Use caution when discussing products. Information posted on these channels&nbsp;is available for all to
              see, and comments are subject to libel, slander and antitrust laws.&nbsp;
            </li>
            <li>All defamatory, abusive, profane, threatening, offensive or illegal materials are strictly prohibited.
              Do not post any message or comment that you would not want the world to see or that you would not want
              anyone to know came from you.
            </li>
            <li>Please note carefully all items listed in the disclaimer and legal guidelines below, particularly
              regarding the copyright ownership of information posted to the list.
            </li>
            <li>The VSCPA retains the right to reproduce postings.</li>
          </ul>
          <p><em>Disclaimer: </em>Social media channels are provided as a service of the VSCPA. The VSCPA accepts no
            responsibility for the opinions and information of others. The VSCPA disclaims all warranties with regard to
            information posted, whether posted by the VSCPA or any third party; this disclaimer includes all implied
            warranties of merchantability and fitness. In no event shall the VSCPA be liable for any special, indirect
            or consequential damages or any damages whatsoever resulting from loss of use, data or profits, arising out
            of or in connection with the use or performance of any information posted on the blog.</p>

          <p>All data and information provided on this site is for informational purposes only. The VSCPA makes no
            representations as to accuracy, completeness, currentness, suitability, or validity of any information on
            this site and will not be liable for any errors, omissions or delays in this information or any losses,
            injuries or damages arising from its display or use. All information is provided on an as-is basis.</p>

          <p>Do not post any defamatory, abusive, profane, threatening, offensive or illegal materials. Do not post any
            information or other material protected by copyright without the permission of the copyright owner. By
            posting material, the posting party warrants and represents that he or she owns the copyright with respect
            to such material or has received permission from the copyright owner. In addition, the posting party grants
            VSCPA the nonexclusive right and license to display, copy, publish, distribute, transmit, print and use such
            information or other material.</p>

          <p>Messages should not be posted if they encourage or facilitate members to arrive at any agreement that
            either expressly or impliedly leads to price fixing, a boycott of another's business or other conduct
            intended to illegally restrict free trade. Messages that encourage or facilitate an agreement about the
            following subjects are inappropriate: prices, discounts or terms or conditions of sale; salaries; profits,
            profit margins or cost data; market shares, sales territories or markets; allocation of customers or
            territories; or selection, rejection or termination of customers or suppliers.</p>

          <p>The VSCPA does not actively monitor social media channels for inappropriate postings, and does not, on its
            own, undertake editorial control of postings and comments. However, in the event that any inappropriate
            posting is brought to the VSCPA's attention, the VSCPA reserves the right to take all appropriate
            action.</p>

          <p>The VSCPA reserves the right to terminate access to social media channels for any user who does not abide
            by these guidelines.</p>

          <p>If you have any questions about VSCPA social media, guidelines or etiquette, please contact VSCPA Public
            Affairs &amp; Communications&nbsp;Director David Bass at <a
              href="mailto:dbass@vscpa.com">dbass@vscpa.com</a> or (800) 733-8272.</p>

          <strong id="Changes">Changes to This Notice</strong>

          <p>The VSCPA may at any time revise our Privacy Policy and these Terms and Conditions by updating this
            posting. Since you are bound by any such revisions, we recommend you revisit this page frequently to stay
            abreast of such changes.</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->
