{#
/**
 * @file
 * Default theme implementation for the Modal 'ADA Compliance' form element.
 *
 * Available variables:
 * - attributes: Attributes for the marguee tag.
 */
#}
<!-- Select Registration Options Modal -->
<div class="modal fade modal-ada-compliance vscpa-commerce-with-session-selections-form" id="modal-ada-compliance" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="modalLabel">Special Assistance Needed?</h5>
      </div>
      <div class="modal-body">
        <div class="portlet-body">

          <div id="edit-special-needs--X8SQeMc4uv4" class="special_needs_preference_timeslot_groups js-form-wrapper form-wrapper form-item js-form-item panel panel-default" data-drupal-selector="edit-special-needs">
            <div id="edit-special-needs--X8SQeMc4uv4--content" class="panel-body panel-collapse collapse fade in">
              <p>Inclusivity matters to us at the VSCPA. Please indicate any special assistance you may need so that we can follow up with you regarding your event experience.</p>
              <p>If indicated below, our logistics team will be in contact with you prior to the event for more information and to make special arrangements as needed.</p>
              <fieldset id="edit-special-needs-assistance-requested--amhXBJDmw8Y--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper inline" data-drupal-selector="edit-special-needs-assistance-requested">
                <legend class="fieldset-legend-wrapper col-sm-3"> <span class="fieldset-legend">Assistance Requested:</span> </legend>
                <div class="fieldset-wrapper col-sm-9">
                  <div id="edit-special-needs-assistance-requested--amhXBJDmw8Y" class="form-checkboxes">
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-assistance-requested-159 js-form-item-special-needs-assistance-requested-159 checkbox"> <label class="control-label option" for="edit-special-needs-assistance-requested-159--P9g-ILH2QGo"> <input id="edit-special-needs-assistance-requested-159--P9g-ILH2QGo" class="form-checkbox" name="special_needs[assistance_requested][159]" type="checkbox" value="159" {% if checked['159'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-assistance-requested-159" /><span class="style"> </span> Hearing </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-assistance-requested-17772 js-form-item-special-needs-assistance-requested-17772 checkbox"> <label class="control-label option" for="edit-special-needs-assistance-requested-17772--J-2sF_-VHjw"> <input id="edit-special-needs-assistance-requested-17772--J-2sF_-VHjw" class="form-checkbox" name="special_needs[assistance_requested][17772]" type="checkbox" value="17772" {% if checked['17772'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-assistance-requested-17772" /><span class="style"> </span> Visual </label> </div>
                  </div>
                </div>
              </fieldset>
              <fieldset id="edit-special-needs-dietary-restrictions--21uYweMpqgk--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper inline" data-drupal-selector="edit-special-needs-dietary-restrictions">
                <legend class="fieldset-legend-wrapper col-sm-3"> <span class="fieldset-legend">Dietary Restrictions:</span> </legend>
                <div class="fieldset-wrapper col-sm-9">
                  <div id="edit-special-needs-dietary-restrictions--21uYweMpqgk" class="form-checkboxes">
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-157 js-form-item-special-needs-dietary-restrictions-157 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-157--8Mjk3joWxMU"> <input id="edit-special-needs-dietary-restrictions-157--8Mjk3joWxMU" class="form-checkbox" name="special_needs[dietary_restrictions][157]" type="checkbox" value="157" {% if checked['157'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-157" /><span class="style"> </span> Diabetic </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-158 js-form-item-special-needs-dietary-restrictions-158 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-158--nfVc5gSgmVs"> <input id="edit-special-needs-dietary-restrictions-158--nfVc5gSgmVs" class="form-checkbox" name="special_needs[dietary_restrictions][158]" type="checkbox" value="158" {% if checked['158'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-158" /><span class="style"> </span> Gluten Free </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-161 js-form-item-special-needs-dietary-restrictions-161 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-161--DzPhOJxnZ14"> <input id="edit-special-needs-dietary-restrictions-161--DzPhOJxnZ14" class="form-checkbox" name="special_needs[dietary_restrictions][161]" type="checkbox" value="161" {% if checked['161'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-161" /><span class="style"> </span> Lactose Intolerance </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-166 js-form-item-special-needs-dietary-restrictions-166 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-166--HtIRgabk6yM"> <input id="edit-special-needs-dietary-restrictions-166--HtIRgabk6yM" class="form-checkbox" name="special_needs[dietary_restrictions][166]" type="checkbox" value="166" {% if checked['166'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-166" /><span class="style"> </span> Peanut Allergy </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-162 js-form-item-special-needs-dietary-restrictions-162 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-162---ISRYix9oMo"> <input id="edit-special-needs-dietary-restrictions-162---ISRYix9oMo" class="form-checkbox" name="special_needs[dietary_restrictions][162]" type="checkbox" value="162" {% if checked['162'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-162" /><span class="style"> </span> Seafood Allergy </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-170 js-form-item-special-needs-dietary-restrictions-170 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-170--AoSWSAEuYxA"> <input id="edit-special-needs-dietary-restrictions-170--AoSWSAEuYxA" class="form-checkbox" name="special_needs[dietary_restrictions][170]" type="checkbox" value="170" {% if checked['170'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-170" /><span class="style"> </span> Vegetarian / Vegan </label> </div>
                    <div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-special-needs-dietary-restrictions-171 js-form-item-special-needs-dietary-restrictions-171 checkbox"> <label class="control-label option" for="edit-special-needs-dietary-restrictions-171--x3F5ddclVSE"> <input id="edit-special-needs-dietary-restrictions-171--x3F5ddclVSE" class="form-checkbox" name="special_needs[dietary_restrictions][171]" type="checkbox" value="171" {% if checked['171'] %} checked="checked" {% endif %} data-drupal-selector="edit-special-needs-dietary-restrictions-171" /><span class="style"> </span> Other </label> </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary cta-register-now">Register Now <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>
