<section
        class="views-element-container contextual-region block block-views block-views-blockevents-related-events clearfix">
    <div class="form-group">
        <div class="related-events contextual-region view view-events view-id-events view-display-id-related_events">
            <div class="view-header">
                <h3 class="accent-left purple" id="related">Related Events</h3>
                <a class="btn btn-purple jump" href="/continuing-professional-education/cpe-event-search">View All
                    Events</a>
            </div>
            <div class="view-content">
                <div class="events-results">
                    {% for item in items %}
                        <div class="col-xs-12 col-lg-6 views-row">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>