<div class="vic-access-via-email-container" id="vic-access-via-email-container">
  <div class="sessions-access-via-email" data-event-code="{{ event_code }}" data-event-year="{{ event_year }}">
    <div class="panel-body">
      <h3>Sessions</h3>
      <p>We are currently experiencing technical difficulties with our website. Please provide your email address below
        to gain access to the conference sessions.</p>
      <div class="status-messages"><div></div></div>
    </div>
    <div class="form-item row js-form-item form-type-textfield js-form-type-textfield form-item-name js-form-item-name form-group">
      <label for="edit-name" class="col-xs-12 col-sm-3 control-label js-form-required form-required">Email address</label>
      <div class="col-xs-12 col-sm-9">
        <input
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          autofocus="autofocus"
          data-drupal-selector="edit-name"
          class="form-text required form-control"
          type="text"
          id="email-address"
          name="name"
          value=""
          size="60"
          maxlength="254"
          required="required"
          aria-required="true"
        />
        <small>Questions? Email <a href="mailto:vscpa@vscpa.com?Subject=Reset Your Password">vscpa@vscpa.com</a> or call (800) 733-8272.</small>
      </div>
    </div>
    <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
      <button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-primary btn" type="submit" id="submit-button" name="op" value="Submit">Submit</button>
    </div>
  </div>
</div>
