{% extends "page.html.twig" %}

{% block cover_content %}
  <article id="page-hero" role="article" class="contextual-region page cover clearfix">
    <div class="overlay"></div>
    <div class="wrapper">
      <div class="title-full accent-center blue"><h1>Search</h1></div>
    </div>
  </article>
{% endblock %}
