{% extends "page.html.twig" %}

{% block custom_alert %}
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <ul class="item-list item-list--messages">
        <li class="item item--message"><strong>You are currently viewing an unpublished draft of changes to this content.</strong></li>
      </ul>
    </div>
  </div>
{% endblock %}