{% extends "page.html.twig" %}

{% block cover_content %}
    <article id="page-hero" role="article" class="contextual-region page cover clearfix">
        <div class="overlay"></div>
        <div class="wrapper">
            <div class="title-full accent-center purple"><h1>Membership Application</h1></div>
        </div>
    </article>
{% endblock %}
