{% extends "page.html.twig" %}

{% block library_insert %}
    {{ attach_library('vscpa_bootstrap/address') }}
{% endblock %}

{% block cover_content %}
    <article id="page-hero" role="article" class="contextual-region page cover clearfix">
        <div class="overlay"></div>
        <div class="wrapper">
            <div class="title-full accent-center purple"><h1>Payment Methods</h1></div>
        </div>
    </article>
{% endblock %}
